# ¡INSTRUCCIONES PARA EL EQUIPO DESARROLLADOR!
# 1. Duplica este archivo y cámbiale el nombre a ".env"
# 2. Reemplaza el texto de abajo con la cadena de conexión real de MongoDB Atlas

Mongo_URI=cadena_de_conexion